<!DOCTYPE html>
<!--suppress XmlDuplicatedId -->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-static}">
<head th:replace="layout-static :: head">
</head>
<body>
<div id="layoutSidenav_content" layout:fragment="page-content">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Welcome!
        </div>
        <div class="card-header">
            This is your account list
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Account number</th>
                    <th>Current balance</th>
                    <th colspan="2">Actions</th>
                    <th>History</th>
                </tr>
                <tr th:each="a : ${accounts}">
                    <td th:utext="${a.account_id}">...</td>
                    <td th:utext="${a.balance}">...</td>
                    <td>
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#makeDeposit"
                                th:attr="onclick=|accountSelectedDeposit('${a.account_id}')|">
                            Deposit
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#makeWithdraw"
                                th:attr="onclick=|accountSelectedWithdraw('${a.account_id}')|">
                            Withdraw
                        </button>
                    </td>
                    <td>
                        <form id="invisible_form" action="/view/transaction-history" method="post">
                            <input id="id" name="id" type="hidden" th:attr="value=|${a.account_id}|">
                            <button type="submit" class="btn btn-secondary btn-sm">
                                Get Transaction History
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal fade" id="makeDeposit" tabindex="-1" aria-labelledby="makeDeposit" aria-hidden="true">
        <div class="modal-dialog">
            <form id="form-make-deposit" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="makeDeposit">Deposit</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="account_id" id="accountSelectedDeposit" value="">
                    </div>
                    <div class="form-group">
                        <label for="depositAmount">Amount to deposit:</label>
                        <input type="number" class="form-control" name="depositAmount" id="depositAmount" placeholder="" step="any">
                    </div>
                    <div id="msj-infoDeposit" class="alert alert-info d-none" role="alert"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" value="Submit" class="btn btn-primary btn-sm">
                        <i class="fas fa-save"></i>
                        Save
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
                        <i class="fas fa-times-circle"></i>
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="makeWithdraw" tabindex="-1" aria-labelledby="makeWithdraw" aria-hidden="true">
        <div class="modal-dialog">
            <form id="form-make-withdraw" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="madeWithdraw">Withdraw</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="account_id" id="accountSelectedWithdraw" value="">
                    </div>
                    <div class="form-group">
                        <label for="withdrawAmount">Amount to withdraw: </label>
                        <input type="number" class="form-control" name="withdrawAmount" id="withdrawAmount" placeholder="" step="any">
                    </div>
                    <div id="msj-infoWithdraw" class="alert alert-info d-none" role="alert"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" value="Submit" class="btn btn-primary btn-sm" >
                        <i class="fas fa-save"></i>
                        Save
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
                        <i class="fas fa-times-circle"></i>
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div layout:fragment="script-section">
    <script type="text/javascript">
    $(document).ready(() => {

        $('#form-make-deposit').submit((e) => {
                e.preventDefault();
                let values = $('#form-make-deposit').serialize();
                    $.post('deposit',values, (data) => {
                        window.location.reload(true);
                    });
            });

        $('#form-make-withdraw').submit((e) => {
                e.preventDefault();
                let values = $('#form-make-withdraw').serialize();
                    $.post('withdraw',values, (data) => {
                        window.location.reload(true);
                    });
            });
        });

        function accountSelectedDeposit(id){
            document.getElementById('accountSelectedDeposit').value = id;
        }

        function accountSelectedWithdraw(id){
            document.getElementById('accountSelectedWithdraw').value = id;
        }


</script>
</div>
</body>
</html>