<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-static}">
<head th:replace="layout-static :: head">
</head>
<body>
<div class="nav" layout:fragment="nav-content">
    <div class="sb-sidenav-menu-heading">Opciones</div>
    <a class="nav-link" th:href="@{/view/customers-table}">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        Clients
    </a>
</div>
<div id="layoutSidenav_content" layout:fragment="page-content">
    <div class="card mb-4">
        <div class="card-header row">
            <div class="col-sm">
                <i class="fas fa-table me-1"></i>
                Account list for:
            </div>
            <div th:utext="${customerName}" class="col-sm">

            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#confirmNewAccount">
                    <i class="fa fa-plus"></i>
                    Create new Account
                </button>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Account number</th>
                    <th>Current balance</th>
                    <th>History</th>
                </tr>
                <tr th:each="a : ${accounts}">
                    <td th:utext="${a.account_id}">...</td>
                    <td th:utext="${a.balance}">...</td>
                    <td>
                        <form id="invisible_form" action="/view/transaction-history-employee-view" method="post">
                            <input id="id" name="id" type="hidden" th:attr="value=|${a.account_id}|">
                            <button type="submit" class="btn btn-secondary btn-sm">
                                Get Transaction History
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal fade" id="confirmNewAccount" tabindex="-1" aria-labelledby="addClient" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addClient">New account confirmation</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        Are you sure to create new account?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" th:attr="onclick=|addAccount('${id}')|">
                        YES
                    </button>
                    <button class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
                        NO
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div layout:fragment="script-section">
    <script type="text/javascript">
    $(document).ready(() => {

        $('#form-add-customer').submit((e) => {
                e.preventDefault();
                let values = $('#form-add-customer').serialize();
                    $.post('addCustomer',values, (data) => {
                        window.location.reload(true);
                    });
            });
        });


        function addAccount(id){

            $.post('addAccount',
            {
                customer_id: id
            },
            (data) => {
               window.location.reload(true);
            });
        }
</script>
</div>
</body>
</html>