<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-static}">
<head th:replace="layout-static :: head">
</head>
<body>
<div id="layoutSidenav_content" layout:fragment="page-content">
    <div class="card mb-4">
        <div class="card-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <i class="fas fa-table me-1"></i>
                        Clients lists
                    </div>
                    <div class="col-sm">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addClient">
                            <i class="fa fa-plus"></i>
                            New client
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Client ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
                <tr th:each="c : ${clients}">
                    <td th:utext="${c.customerId}">...</td>
                    <td th:utext="${c.name}">...</td>
                    <td><button type="button" class="btn btn-secondary btn-sm" th:attr="onclick=|deleteClient('${c.customerId}')|">
                        <i class="fa fa-plus"></i>
                        Delete client
                    </button></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal fade" id="addClient" tabindex="-1" aria-labelledby="addClient" aria-hidden="true">
        <div class="modal-dialog">
            <form id="form-add-client" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addClient">Add new client</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="customerID">Customer ID:</label>
                        <input type="text" class="form-control" name="customerId" id="customerId" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="">
                    </div>
                    <div id="msj-infoClient" class="alert alert-info d-none" role="alert"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" value="Submit" class="btn btn-primary btn-sm">
                        <i class="fas fa-save"></i>
                        Save
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
                        <i class="fas fa-times-circle"></i>
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div layout:fragment="script-section">
    <script type="text/javascript">
    $(document).ready(() => {

        $('#form-add-client').submit((e) => {
                e.preventDefault();
                let values = $('#form-add-client').serialize();
                    $.post('addClient',values, (data) => {
                        window.location.reload(true);
                    });
            });
        });


        function deleteClient(id){

            $.post('deleteClient',
            {
                customerId: id
            },
            (data) => {
               window.location.reload(true);
            });
        }
</script>
</div>
</body>
</html>